@media (min-width: 992px) {
  /* line 1, ../_sass/abstracts/_mixins.scss */
  .home-part2 {
    display: none;
  }
}

@media (min-width: 992px) {
  /* line 6, ../_sass/abstracts/_mixins.scss */
  .mockup-box {
    display: block;
  }
}

@media (min-width: 992px) {
  /* line 11, ../_sass/abstracts/_mixins.scss */
  header {
    height: 80px;
  }
}

@media (min-width: 992px) {
  /* line 16, ../_sass/abstracts/_mixins.scss */
  .home-stroke {
    display: none;
  }
}

@media (min-width: 992px) {
  /* line 21, ../_sass/abstracts/_mixins.scss */
  footer {
    min-height: 32vh;
  }
}

@media (min-width: 992px) {
  /* line 26, ../_sass/abstracts/_mixins.scss */
  .container {
    min-height: 60vh;
  }
}

@media (min-width: 992px) {
  /* line 31, ../_sass/abstracts/_mixins.scss */
  #nav-icon3, .header-logo {
    display: none;
  }
}

@font-face {
  font-family: SourceSansPro;
  src: url("assets/fonts/SourceSansPro-Regular.otf");
}

@font-face {
  font-family: SourceSansPro;
  src: url("assets/fonts/SourceSansPro-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: SourceSansPro;
  src: url("assets/fonts/SourceSansPro-Italic.otf");
  font-style: italic;
}

@font-face {
  font-family: SourceSansPro;
  src: url("assets/fonts/SourceSansPro-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: SourceSansPro;
  src: url("assets/fonts/SourceSansPro-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: SourceSansPro;
  src: url("assets/fonts/SourceSansPro-LightItalic.otf");
  font-style: italic;
  font-weight: 300;
}

/* line 32, ../_sass/base/_typography.scss */
a {
  text-decoration: none;
}

/* line 35, ../_sass/base/_typography.scss */
ul, li {
  list-style: none;
}

/* line 39, ../_sass/base/_typography.scss */
h1, h2, h3, h4, p, li, div, input {
  font-family: SourceSansPro , sans-serif;
  color: #fff;
  letter-spacing: 0.02em;
}

/* line 44, ../_sass/base/_typography.scss */
h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 30px;
  max-height: 80%;
  font-weight: black;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
@media (min-width: 992px) {
  /* line 44, ../_sass/base/_typography.scss */
  h1 {
    font-size: 28px;
    font-weight: 900;
  }
}

/* line 59, ../_sass/base/_typography.scss */
h1 > span {
  margin-top: 10px;
  font-size: 16px;
}
@media (min-width: 992px) {
  /* line 59, ../_sass/base/_typography.scss */
  h1 > span {
    font-size: 28px;
    font-weight: 900;
  }
}

/* line 67, ../_sass/base/_typography.scss */
h2 {
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  max-height: 80%;
  font-weight: black;
  width: 100%;
  display: block;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

/* line 80, ../_sass/base/_typography.scss */
p {
  font-size: 12px;
  font-weight: 100;
  line-height: 20px;
}

/* line 86, ../_sass/base/_typography.scss */
.header-homenav li {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* line 90, ../_sass/base/_typography.scss */
.header-homenav li a {
  font-size: 26px;
  font-weight: 400;
  color: #a499b2;
  transition: all 200ms ease-in-out 0s;
}

/* line 96, ../_sass/base/_typography.scss */
.header-homenav li a:hover {
  color: #564781;
  margin-left: 5px;
}

/* line 101, ../_sass/base/_typography.scss */
.login-inputs input {
  font-size: 12px;
  font-weight: lighter;
  color: #ffffff;
  padding-top: 5px;
}

/* line 107, ../_sass/base/_typography.scss */
.login-inputs input::placeholder {
  font-size: 12px;
  font-weight: lighter;
  color: #cbbadc;
}

/* line 112, ../_sass/base/_typography.scss */
.login-inputs__full label {
  font-size: 8px;
  padding-bottom: 10px;
  color: #cbbadc;
  font-weight: lighter;
  transition: all 200ms ease-in-out 0s;
}

/* line 119, ../_sass/base/_typography.scss */
.login-button {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 10px;
  text-align: center;
  color: #ffffff;
}

/* line 126, ../_sass/base/_typography.scss */
.login-register p {
  text-align: center;
  font-weight: 100;
  color: #dbdada;
}

/* line 131, ../_sass/base/_typography.scss */
.login-register p > span {
  font-style: italic;
  color: #dbdada;
  transition: all 100ms ease-in-out 0s;
}

/* line 136, ../_sass/base/_typography.scss */
.login-register p > span:hover {
  color: white;
  cursor: pointer;
  transition: all 100ms ease-in-out 0s;
}

/* line 144, ../_sass/base/_typography.scss */
.home-intro {
  margin-top: 30px;
  margin-bottom: 20px;
  max-width: 80%;
  z-index: 30;
  font-weight: 100;
  font-size: 14px;
}
@media (min-width: 992px) {
  /* line 144, ../_sass/base/_typography.scss */
  .home-intro {
    font-size: 16px;
  }
}

/* line 155, ../_sass/base/_typography.scss */
.home-info p {
  display: block;
  margin: auto;
  max-width: 80%;
  font-size: 10px;
}

/* line 162, ../_sass/base/_typography.scss */
.home-button1, .home-button2, .error-button {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 10px;
  text-align: center;
}

/* line 169, ../_sass/base/_typography.scss */
.home-button2 {
  color: #8f6ecb;
}

/* line 173, ../_sass/base/_typography.scss */
#error {
  font-size: 10rem;
  font-weight: 900;
  text-align: center;
}

/* line 179, ../_sass/base/_typography.scss */
.error_text {
  margin: 25% 15% 0;
}

/* line 183, ../_sass/base/_typography.scss */
.error_text_title {
  font-weight: bold;
}

@media (min-width: 992px) {
  /* line 187, ../_sass/base/_typography.scss */
  #contact-header {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  /* line 192, ../_sass/base/_typography.scss */
  #contact-p {
    font-size: 16px;
  }
}

/* line 1, ../_sass/base/_preloader.scss */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebeff0;
  z-index: 99999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 14, ../_sass/base/_preloader.scss */
.image-loader {
  padding: 5% 0;
  height: 80px;
  width: 80px;
  position: absolute;
  -webkit-filter: url("#goo");
  filter: url("#goo");
}

/* line 23, ../_sass/base/_preloader.scss */
.image-loader .rect {
  position: relative;
  height: 80px;
  width: 80px;
  animation: rotating 1.7s linear infinite;
}

@keyframes rotating {
  /* line 31, ../_sass/base/_preloader.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 35, ../_sass/base/_preloader.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* line 40, ../_sass/base/_preloader.scss */
.image-loader .rect .dot {
  position: absolute;
  left: 28px;
  top: 28px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: #7323DB;
}

/* line 49, ../_sass/base/_preloader.scss */
.image-loader .rect .dot.d_i {
  animation: dot_i 1.5s ease-in-out infinite;
}

/* line 52, ../_sass/base/_preloader.scss */
.image-loader .rect .dot.d_ii {
  animation: dot_ii 1.5s ease-in-out infinite;
}

@keyframes dot_i {
  /* line 57, ../_sass/base/_preloader.scss */
  0%, 100% {
    transform: translateY(0) scale(1);
  }

  /* line 60, ../_sass/base/_preloader.scss */
  50% {
    transform: translateY(20px) scale(0.8);
  }
}

@keyframes dot_ii {
  /* line 66, ../_sass/base/_preloader.scss */
  0%, 100% {
    transform: translateY(0) scale(1);
  }

  /* line 69, ../_sass/base/_preloader.scss */
  50% {
    transform: translateY(-20px) scale(0.8);
  }
}

@-ms-viewport {
  width: device-width;
}

/* line 7, ../_sass/layout/_grid.scss */
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

/* line 21, ../_sass/layout/_grid.scss */
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  /* line 25, ../_sass/layout/_grid.scss */
  .visible-xs {
    display: block !important;
  }

  /* line 28, ../_sass/layout/_grid.scss */
  table.visible-xs {
    display: table;
  }

  /* line 31, ../_sass/layout/_grid.scss */
  tr.visible-xs {
    display: table-row !important;
  }

  /* line 35, ../_sass/layout/_grid.scss */
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  /* line 40, ../_sass/layout/_grid.scss */
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  /* line 45, ../_sass/layout/_grid.scss */
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  /* line 50, ../_sass/layout/_grid.scss */
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 55, ../_sass/layout/_grid.scss */
  .visible-sm {
    display: block !important;
  }

  /* line 58, ../_sass/layout/_grid.scss */
  table.visible-sm {
    display: table;
  }

  /* line 61, ../_sass/layout/_grid.scss */
  tr.visible-sm {
    display: table-row !important;
  }

  /* line 65, ../_sass/layout/_grid.scss */
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 70, ../_sass/layout/_grid.scss */
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 75, ../_sass/layout/_grid.scss */
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 80, ../_sass/layout/_grid.scss */
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 85, ../_sass/layout/_grid.scss */
  .visible-md {
    display: block !important;
  }

  /* line 88, ../_sass/layout/_grid.scss */
  table.visible-md {
    display: table;
  }

  /* line 91, ../_sass/layout/_grid.scss */
  tr.visible-md {
    display: table-row !important;
  }

  /* line 95, ../_sass/layout/_grid.scss */
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 100, ../_sass/layout/_grid.scss */
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 105, ../_sass/layout/_grid.scss */
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 110, ../_sass/layout/_grid.scss */
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  /* line 115, ../_sass/layout/_grid.scss */
  .visible-lg {
    display: block !important;
  }

  /* line 118, ../_sass/layout/_grid.scss */
  table.visible-lg {
    display: table;
  }

  /* line 121, ../_sass/layout/_grid.scss */
  tr.visible-lg {
    display: table-row !important;
  }

  /* line 125, ../_sass/layout/_grid.scss */
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  /* line 130, ../_sass/layout/_grid.scss */
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  /* line 135, ../_sass/layout/_grid.scss */
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  /* line 140, ../_sass/layout/_grid.scss */
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  /* line 145, ../_sass/layout/_grid.scss */
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 150, ../_sass/layout/_grid.scss */
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 155, ../_sass/layout/_grid.scss */
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  /* line 160, ../_sass/layout/_grid.scss */
  .hidden-lg {
    display: none !important;
  }
}
/* line 164, ../_sass/layout/_grid.scss */
.visible-print {
  display: none !important;
}

@media print {
  /* line 168, ../_sass/layout/_grid.scss */
  .visible-print {
    display: block !important;
  }

  /* line 171, ../_sass/layout/_grid.scss */
  table.visible-print {
    display: table;
  }

  /* line 174, ../_sass/layout/_grid.scss */
  tr.visible-print {
    display: table-row !important;
  }

  /* line 178, ../_sass/layout/_grid.scss */
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
/* line 182, ../_sass/layout/_grid.scss */
.visible-print-block {
  display: none !important;
}

@media print {
  /* line 186, ../_sass/layout/_grid.scss */
  .visible-print-block {
    display: block !important;
  }
}
/* line 190, ../_sass/layout/_grid.scss */
.visible-print-inline {
  display: none !important;
}

@media print {
  /* line 194, ../_sass/layout/_grid.scss */
  .visible-print-inline {
    display: inline !important;
  }
}
/* line 198, ../_sass/layout/_grid.scss */
.visible-print-inline-block {
  display: none !important;
}

@media print {
  /* line 202, ../_sass/layout/_grid.scss */
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  /* line 207, ../_sass/layout/_grid.scss */
  .hidden-print {
    display: none !important;
  }
}
/* line 213, ../_sass/layout/_grid.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 217, ../_sass/layout/_grid.scss */
.col, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 223, ../_sass/layout/_grid.scss */
.col, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

/* line 226, ../_sass/layout/_grid.scss */
.col-xs-12 {
  width: 100%;
}

/* line 229, ../_sass/layout/_grid.scss */
.col-xs-11 {
  width: 91.66666667%;
}

/* line 232, ../_sass/layout/_grid.scss */
.col-xs-10 {
  width: 83.33333333%;
}

/* line 235, ../_sass/layout/_grid.scss */
.col-xs-9 {
  width: 75%;
}

/* line 238, ../_sass/layout/_grid.scss */
.col-xs-8 {
  width: 66.66666667%;
}

/* line 241, ../_sass/layout/_grid.scss */
.col-xs-7 {
  width: 58.33333333%;
}

/* line 244, ../_sass/layout/_grid.scss */
.col-xs-6 {
  width: 50%;
}

/* line 247, ../_sass/layout/_grid.scss */
.col-xs-5 {
  width: 41.66666667%;
}

/* line 250, ../_sass/layout/_grid.scss */
.col-xs-4 {
  width: 33.33333333%;
}

/* line 253, ../_sass/layout/_grid.scss */
.col-xs-3 {
  width: 25%;
}

/* line 256, ../_sass/layout/_grid.scss */
.col-xs-2 {
  width: 16.66666667%;
}

/* line 259, ../_sass/layout/_grid.scss */
.col-xs-1 {
  width: 8.33333333%;
}

/* line 262, ../_sass/layout/_grid.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 265, ../_sass/layout/_grid.scss */
.col-xs-pull-11 {
  right: 91.66666667%;
}

/* line 268, ../_sass/layout/_grid.scss */
.col-xs-pull-10 {
  right: 83.33333333%;
}

/* line 271, ../_sass/layout/_grid.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 274, ../_sass/layout/_grid.scss */
.col-xs-pull-8 {
  right: 66.66666667%;
}

/* line 277, ../_sass/layout/_grid.scss */
.col-xs-pull-7 {
  right: 58.33333333%;
}

/* line 280, ../_sass/layout/_grid.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 283, ../_sass/layout/_grid.scss */
.col-xs-pull-5 {
  right: 41.66666667%;
}

/* line 286, ../_sass/layout/_grid.scss */
.col-xs-pull-4 {
  right: 33.33333333%;
}

/* line 289, ../_sass/layout/_grid.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 292, ../_sass/layout/_grid.scss */
.col-xs-pull-2 {
  right: 16.66666667%;
}

/* line 295, ../_sass/layout/_grid.scss */
.col-xs-pull-1 {
  right: 8.33333333%;
}

/* line 298, ../_sass/layout/_grid.scss */
.col-xs-pull-0 {
  right: auto;
}

/* line 301, ../_sass/layout/_grid.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 304, ../_sass/layout/_grid.scss */
.col-xs-push-11 {
  left: 91.66666667%;
}

/* line 307, ../_sass/layout/_grid.scss */
.col-xs-push-10 {
  left: 83.33333333%;
}

/* line 310, ../_sass/layout/_grid.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 313, ../_sass/layout/_grid.scss */
.col-xs-push-8 {
  left: 66.66666667%;
}

/* line 316, ../_sass/layout/_grid.scss */
.col-xs-push-7 {
  left: 58.33333333%;
}

/* line 319, ../_sass/layout/_grid.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 322, ../_sass/layout/_grid.scss */
.col-xs-push-5 {
  left: 41.66666667%;
}

/* line 325, ../_sass/layout/_grid.scss */
.col-xs-push-4 {
  left: 33.33333333%;
}

/* line 328, ../_sass/layout/_grid.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 331, ../_sass/layout/_grid.scss */
.col-xs-push-2 {
  left: 16.66666667%;
}

/* line 334, ../_sass/layout/_grid.scss */
.col-xs-push-1 {
  left: 8.33333333%;
}

/* line 337, ../_sass/layout/_grid.scss */
.col-xs-push-0 {
  left: auto;
}

/* line 340, ../_sass/layout/_grid.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

/* line 343, ../_sass/layout/_grid.scss */
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

/* line 346, ../_sass/layout/_grid.scss */
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

/* line 349, ../_sass/layout/_grid.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 352, ../_sass/layout/_grid.scss */
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

/* line 355, ../_sass/layout/_grid.scss */
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

/* line 358, ../_sass/layout/_grid.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 361, ../_sass/layout/_grid.scss */
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

/* line 364, ../_sass/layout/_grid.scss */
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

/* line 367, ../_sass/layout/_grid.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 370, ../_sass/layout/_grid.scss */
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

/* line 373, ../_sass/layout/_grid.scss */
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

/* line 376, ../_sass/layout/_grid.scss */
.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  /* line 380, ../_sass/layout/_grid.scss */
  .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  /* line 383, ../_sass/layout/_grid.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 386, ../_sass/layout/_grid.scss */
  .col-sm-11 {
    width: 91.66666667%;
  }

  /* line 389, ../_sass/layout/_grid.scss */
  .col-sm-10 {
    width: 83.33333333%;
  }

  /* line 392, ../_sass/layout/_grid.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 395, ../_sass/layout/_grid.scss */
  .col-sm-8 {
    width: 66.66666667%;
  }

  /* line 398, ../_sass/layout/_grid.scss */
  .col-sm-7 {
    width: 58.33333333%;
  }

  /* line 401, ../_sass/layout/_grid.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 404, ../_sass/layout/_grid.scss */
  .col-sm-5 {
    width: 41.66666667%;
  }

  /* line 407, ../_sass/layout/_grid.scss */
  .col-sm-4 {
    width: 33.33333333%;
  }

  /* line 410, ../_sass/layout/_grid.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 413, ../_sass/layout/_grid.scss */
  .col-sm-2 {
    width: 16.66666667%;
  }

  /* line 416, ../_sass/layout/_grid.scss */
  .col-sm-1 {
    width: 8.33333333%;
  }

  /* line 419, ../_sass/layout/_grid.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 422, ../_sass/layout/_grid.scss */
  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  /* line 425, ../_sass/layout/_grid.scss */
  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  /* line 428, ../_sass/layout/_grid.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 431, ../_sass/layout/_grid.scss */
  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  /* line 434, ../_sass/layout/_grid.scss */
  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  /* line 437, ../_sass/layout/_grid.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 440, ../_sass/layout/_grid.scss */
  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  /* line 443, ../_sass/layout/_grid.scss */
  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  /* line 446, ../_sass/layout/_grid.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 449, ../_sass/layout/_grid.scss */
  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  /* line 452, ../_sass/layout/_grid.scss */
  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  /* line 455, ../_sass/layout/_grid.scss */
  .col-sm-pull-0 {
    right: auto;
  }

  /* line 458, ../_sass/layout/_grid.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 461, ../_sass/layout/_grid.scss */
  .col-sm-push-11 {
    left: 91.66666667%;
  }

  /* line 464, ../_sass/layout/_grid.scss */
  .col-sm-push-10 {
    left: 83.33333333%;
  }

  /* line 467, ../_sass/layout/_grid.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 470, ../_sass/layout/_grid.scss */
  .col-sm-push-8 {
    left: 66.66666667%;
  }

  /* line 473, ../_sass/layout/_grid.scss */
  .col-sm-push-7 {
    left: 58.33333333%;
  }

  /* line 476, ../_sass/layout/_grid.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 479, ../_sass/layout/_grid.scss */
  .col-sm-push-5 {
    left: 41.66666667%;
  }

  /* line 482, ../_sass/layout/_grid.scss */
  .col-sm-push-4 {
    left: 33.33333333%;
  }

  /* line 485, ../_sass/layout/_grid.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 488, ../_sass/layout/_grid.scss */
  .col-sm-push-2 {
    left: 16.66666667%;
  }

  /* line 491, ../_sass/layout/_grid.scss */
  .col-sm-push-1 {
    left: 8.33333333%;
  }

  /* line 494, ../_sass/layout/_grid.scss */
  .col-sm-push-0 {
    left: auto;
  }

  /* line 497, ../_sass/layout/_grid.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }

  /* line 500, ../_sass/layout/_grid.scss */
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 503, ../_sass/layout/_grid.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 506, ../_sass/layout/_grid.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 509, ../_sass/layout/_grid.scss */
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 512, ../_sass/layout/_grid.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 515, ../_sass/layout/_grid.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 518, ../_sass/layout/_grid.scss */
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 521, ../_sass/layout/_grid.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 524, ../_sass/layout/_grid.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 527, ../_sass/layout/_grid.scss */
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 530, ../_sass/layout/_grid.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 533, ../_sass/layout/_grid.scss */
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  /* line 538, ../_sass/layout/_grid.scss */
  .col, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  /* line 541, ../_sass/layout/_grid.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 544, ../_sass/layout/_grid.scss */
  .col-md-11 {
    width: 91.66666667%;
  }

  /* line 547, ../_sass/layout/_grid.scss */
  .col-md-10 {
    width: 83.33333333%;
  }

  /* line 550, ../_sass/layout/_grid.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 553, ../_sass/layout/_grid.scss */
  .col-md-8 {
    width: 66.66666667%;
  }

  /* line 556, ../_sass/layout/_grid.scss */
  .col-md-7 {
    width: 58.33333333%;
  }

  /* line 559, ../_sass/layout/_grid.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 562, ../_sass/layout/_grid.scss */
  .col-md-5 {
    width: 41.66666667%;
  }

  /* line 565, ../_sass/layout/_grid.scss */
  .col-md-4 {
    width: 33.33333333%;
  }

  /* line 568, ../_sass/layout/_grid.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 571, ../_sass/layout/_grid.scss */
  .col-md-2 {
    width: 16.66666667%;
  }

  /* line 574, ../_sass/layout/_grid.scss */
  .col-md-1 {
    width: 8.33333333%;
  }

  /* line 577, ../_sass/layout/_grid.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 580, ../_sass/layout/_grid.scss */
  .col-md-pull-11 {
    right: 91.66666667%;
  }

  /* line 583, ../_sass/layout/_grid.scss */
  .col-md-pull-10 {
    right: 83.33333333%;
  }

  /* line 586, ../_sass/layout/_grid.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 589, ../_sass/layout/_grid.scss */
  .col-md-pull-8 {
    right: 66.66666667%;
  }

  /* line 592, ../_sass/layout/_grid.scss */
  .col-md-pull-7 {
    right: 58.33333333%;
  }

  /* line 595, ../_sass/layout/_grid.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 598, ../_sass/layout/_grid.scss */
  .col-md-pull-5 {
    right: 41.66666667%;
  }

  /* line 601, ../_sass/layout/_grid.scss */
  .col-md-pull-4 {
    right: 33.33333333%;
  }

  /* line 604, ../_sass/layout/_grid.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 607, ../_sass/layout/_grid.scss */
  .col-md-pull-2 {
    right: 16.66666667%;
  }

  /* line 610, ../_sass/layout/_grid.scss */
  .col-md-pull-1 {
    right: 8.33333333%;
  }

  /* line 613, ../_sass/layout/_grid.scss */
  .col-md-pull-0 {
    right: auto;
  }

  /* line 616, ../_sass/layout/_grid.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 619, ../_sass/layout/_grid.scss */
  .col-md-push-11 {
    left: 91.66666667%;
  }

  /* line 622, ../_sass/layout/_grid.scss */
  .col-md-push-10 {
    left: 83.33333333%;
  }

  /* line 625, ../_sass/layout/_grid.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 628, ../_sass/layout/_grid.scss */
  .col-md-push-8 {
    left: 66.66666667%;
  }

  /* line 631, ../_sass/layout/_grid.scss */
  .col-md-push-7 {
    left: 58.33333333%;
  }

  /* line 634, ../_sass/layout/_grid.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 637, ../_sass/layout/_grid.scss */
  .col-md-push-5 {
    left: 41.66666667%;
  }

  /* line 640, ../_sass/layout/_grid.scss */
  .col-md-push-4 {
    left: 33.33333333%;
  }

  /* line 643, ../_sass/layout/_grid.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 646, ../_sass/layout/_grid.scss */
  .col-md-push-2 {
    left: 16.66666667%;
  }

  /* line 649, ../_sass/layout/_grid.scss */
  .col-md-push-1 {
    left: 8.33333333%;
  }

  /* line 652, ../_sass/layout/_grid.scss */
  .col-md-push-0 {
    left: auto;
  }

  /* line 655, ../_sass/layout/_grid.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }

  /* line 658, ../_sass/layout/_grid.scss */
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 661, ../_sass/layout/_grid.scss */
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 664, ../_sass/layout/_grid.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 667, ../_sass/layout/_grid.scss */
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 670, ../_sass/layout/_grid.scss */
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 673, ../_sass/layout/_grid.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 676, ../_sass/layout/_grid.scss */
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 679, ../_sass/layout/_grid.scss */
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 682, ../_sass/layout/_grid.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 685, ../_sass/layout/_grid.scss */
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 688, ../_sass/layout/_grid.scss */
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 691, ../_sass/layout/_grid.scss */
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  /* line 696, ../_sass/layout/_grid.scss */
  .col, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  /* line 699, ../_sass/layout/_grid.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 702, ../_sass/layout/_grid.scss */
  .col-lg-11 {
    width: 91.66666667%;
  }

  /* line 705, ../_sass/layout/_grid.scss */
  .col-lg-10 {
    width: 83.33333333%;
  }

  /* line 708, ../_sass/layout/_grid.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 711, ../_sass/layout/_grid.scss */
  .col-lg-8 {
    width: 66.66666667%;
  }

  /* line 714, ../_sass/layout/_grid.scss */
  .col-lg-7 {
    width: 58.33333333%;
  }

  /* line 717, ../_sass/layout/_grid.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 720, ../_sass/layout/_grid.scss */
  .col-lg-5 {
    width: 41.66666667%;
  }

  /* line 723, ../_sass/layout/_grid.scss */
  .col-lg-4 {
    width: 33.33333333%;
  }

  /* line 726, ../_sass/layout/_grid.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 729, ../_sass/layout/_grid.scss */
  .col-lg-2 {
    width: 16.66666667%;
  }

  /* line 732, ../_sass/layout/_grid.scss */
  .col-lg-1 {
    width: 8.33333333%;
  }

  /* line 735, ../_sass/layout/_grid.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 738, ../_sass/layout/_grid.scss */
  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  /* line 741, ../_sass/layout/_grid.scss */
  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  /* line 744, ../_sass/layout/_grid.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 747, ../_sass/layout/_grid.scss */
  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  /* line 750, ../_sass/layout/_grid.scss */
  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  /* line 753, ../_sass/layout/_grid.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 756, ../_sass/layout/_grid.scss */
  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  /* line 759, ../_sass/layout/_grid.scss */
  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  /* line 762, ../_sass/layout/_grid.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 765, ../_sass/layout/_grid.scss */
  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  /* line 768, ../_sass/layout/_grid.scss */
  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  /* line 771, ../_sass/layout/_grid.scss */
  .col-lg-pull-0 {
    right: auto;
  }

  /* line 774, ../_sass/layout/_grid.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 777, ../_sass/layout/_grid.scss */
  .col-lg-push-11 {
    left: 91.66666667%;
  }

  /* line 780, ../_sass/layout/_grid.scss */
  .col-lg-push-10 {
    left: 83.33333333%;
  }

  /* line 783, ../_sass/layout/_grid.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 786, ../_sass/layout/_grid.scss */
  .col-lg-push-8 {
    left: 66.66666667%;
  }

  /* line 789, ../_sass/layout/_grid.scss */
  .col-lg-push-7 {
    left: 58.33333333%;
  }

  /* line 792, ../_sass/layout/_grid.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 795, ../_sass/layout/_grid.scss */
  .col-lg-push-5 {
    left: 41.66666667%;
  }

  /* line 798, ../_sass/layout/_grid.scss */
  .col-lg-push-4 {
    left: 33.33333333%;
  }

  /* line 801, ../_sass/layout/_grid.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 804, ../_sass/layout/_grid.scss */
  .col-lg-push-2 {
    left: 16.66666667%;
  }

  /* line 807, ../_sass/layout/_grid.scss */
  .col-lg-push-1 {
    left: 8.33333333%;
  }

  /* line 810, ../_sass/layout/_grid.scss */
  .col-lg-push-0 {
    left: auto;
  }

  /* line 813, ../_sass/layout/_grid.scss */
  .col-lg-offset-12 {
    margin-left: 100%;
  }

  /* line 816, ../_sass/layout/_grid.scss */
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 819, ../_sass/layout/_grid.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 822, ../_sass/layout/_grid.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 825, ../_sass/layout/_grid.scss */
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 828, ../_sass/layout/_grid.scss */
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 831, ../_sass/layout/_grid.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 834, ../_sass/layout/_grid.scss */
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 837, ../_sass/layout/_grid.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 840, ../_sass/layout/_grid.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 843, ../_sass/layout/_grid.scss */
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 846, ../_sass/layout/_grid.scss */
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 849, ../_sass/layout/_grid.scss */
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
/* line 861, ../_sass/layout/_grid.scss */
.clearfix,
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

/* line 868, ../_sass/layout/_grid.scss */
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

/* line 871, ../_sass/layout/_grid.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 876, ../_sass/layout/_grid.scss */
.pull-right {
  float: right !important;
}

/* line 879, ../_sass/layout/_grid.scss */
.pull-left {
  float: left !important;
}

/* line 884, ../_sass/layout/_grid.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../_sass/layout/_header.scss */
header {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: hidden;
}

/* line 6, ../_sass/layout/_header.scss */
.header-top {
  width: 100%;
  height: 20px;
}

/* line 10, ../_sass/layout/_header.scss */
#nav-icon3 {
  z-index: 9999999;
  width: 100%;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 100%;
}

/* line 19, ../_sass/layout/_header.scss */
.header-logo {
  width: 40px;
  height: 40px;
  float: right;
  margin-right: 20px;
  transition: all 100ms ease-in-out 0s;
}

/* line 26, ../_sass/layout/_header.scss */
.header-logo:hover {
  width: 35px;
  height: 35px;
  padding: 2.5px;
  cursor: pointer;
}
/* line 31, ../_sass/layout/_header.scss */
.header-logo:hover svg {
  margin: auto;
}

/* line 36, ../_sass/layout/_header.scss */
.header-homenav {
  position: fixed;
  background-color: #e2e2e2;
  opacity: 0.94;
  width: 100%;
  height: 100vh;
  z-index: 999999;
  display: none;
}

/* line 46, ../_sass/layout/_header.scss */
.header-homenav ul {
  width: 100%;
  padding: 20px;
  margin-top: 60px;
}

/* line 52, ../_sass/layout/_header.scss */
#logo-desktop {
  width: 60px;
  height: 60px;
  margin-left: 15px;
  display: none;
}
@media (min-width: 992px) {
  /* line 52, ../_sass/layout/_header.scss */
  #logo-desktop {
    display: block;
  }
}

/* line 63, ../_sass/layout/_header.scss */
#nav-icon3 {
  width: 40px;
  height: 26px;
  position: relative;
  margin-left: 20px;
  float: left;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

/* line 81, ../_sass/layout/_header.scss */
#nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #ffffff;
  margin-top: 10px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* line 102, ../_sass/layout/_header.scss */
#nav-icon3 span:nth-child(1) {
  top: 0px;
}

/* line 106, ../_sass/layout/_header.scss */
#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 9px;
}

/* line 110, ../_sass/layout/_header.scss */
#nav-icon3 span:nth-child(4) {
  top: 18px;
}

/* line 114, ../_sass/layout/_header.scss */
#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* line 120, ../_sass/layout/_header.scss */
#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 127, ../_sass/layout/_header.scss */
#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 134, ../_sass/layout/_header.scss */
#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* line 1, ../_sass/layout/_footer.scss */
footer {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}
@media (min-width: 826px) {
  /* line 1, ../_sass/layout/_footer.scss */
  footer {
    min-height: 87px;
  }
}
@media (min-width: 992px) {
  /* line 1, ../_sass/layout/_footer.scss */
  footer {
    min-height: 18vh;
  }
}

/* line 16, ../_sass/layout/_footer.scss */
#footer-img {
  min-width: 1920px;
  height: 320px;
  display: none;
}
@media (min-width: 992px) {
  /* line 16, ../_sass/layout/_footer.scss */
  #footer-img {
    display: block;
    width: 100%;
  }
}

/* line 25, ../_sass/layout/_footer.scss */
#footer-img2 {
  min-width: 500px;
}
@media (min-width: 992px) {
  /* line 25, ../_sass/layout/_footer.scss */
  #footer-img2 {
    display: none;
  }
}

/* line 32, ../_sass/layout/_footer.scss */
.footer-white {
  width: 100%;
  min-height: 10px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
}
@media (min-width: 826px) {
  /* line 32, ../_sass/layout/_footer.scss */
  .footer-white {
    min-height: 30px;
  }
}
@media (min-width: 992px) {
  /* line 32, ../_sass/layout/_footer.scss */
  .footer-white {
    min-height: 50px;
  }
}

/* line 1, ../_sass/layout/_login.scss */
.mobile-login {
  padding: 20px;
  width: 100%;
  display: none;
}

/* line 8, ../_sass/layout/_login.scss */
.login-logo {
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 16, ../_sass/layout/_login.scss */
#login-logo {
  width: 45%;
  margin-top: 40px;
}

/* line 21, ../_sass/layout/_login.scss */
.login-inputs {
  width: 90%;
  margin: auto;
  padding-top: 40px;
}

/* line 27, ../_sass/layout/_login.scss */
.login-inputs input {
  float: left;
  width: 80%;
  display: block;
  margin: auto;
  background: none;
  border: none;
}

/* line 37, ../_sass/layout/_login.scss */
#user, #pass {
  width: 20%;
  float: left;
  height: 39px;
  display: flex;
}

/* line 43, ../_sass/layout/_login.scss */
#user-logo, #pass-logo {
  height: 20px;
  align-self: flex-end;
}

/* line 49, ../_sass/layout/_login.scss */
.login-inputs__full {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding-bottom: 10px;
  transition: all 100ms ease-in-out 0s;
}

/* line 56, ../_sass/layout/_login.scss */
#input2 {
  padding-top: 20px;
}

/* line 59, ../_sass/layout/_login.scss */
.login-border1, .login-border2 {
  transition: all 500ms ease-in-out 0s;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  margin: auto;
  padding-top: 10px;
  width: 1px;
  clear: both;
}

/* line 67, ../_sass/layout/_login.scss */
.login-border__extra {
  transition: all 500ms ease-in-out 0s;
  border-bottom: 1px solid #ffffff;
  width: 100%;
  clear: both;
}

/* line 76, ../_sass/layout/_login.scss */
.login-stroke {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 5px;
  border-bottom: 2px solid #977dd1;
  clear: both;
}

/* line 83, ../_sass/layout/_login.scss */
.label1, .label2 {
  transition: all 500ms ease-in-out 0s;
  visibility: hidden;
}

/* line 87, ../_sass/layout/_login.scss */
.label-display {
  transition: all 500ms ease-in-out 0s;
  visibility: visible;
}

/* line 91, ../_sass/layout/_login.scss */
.login-buttonwrapper {
  width: 100%;
  margin-top: 40px;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 103, ../_sass/layout/_login.scss */
.login-register {
  margin-top: 40px;
}

/* line 1, ../_sass/components/_buttons.scss */
.home-buttons {
  overflow: auto;
}

/* line 5, ../_sass/components/_buttons.scss */
.home-button1 {
  width: 100%;
  margin: auto;
  padding: 12px;
  border: 2px solid #fff;
  border-radius: 60px;
  transition: all 100ms ease-in-out 0s;
}

/* line 13, ../_sass/components/_buttons.scss */
.home-button2 {
  width: 100%;
  background-color: #fff;
  margin: auto;
  padding: 12px;
  border: 2px solid #fff;
  border-radius: 60px;
  transition: all 100ms ease-in-out 0s;
}

/* line 22, ../_sass/components/_buttons.scss */
.home-button1:hover {
  border: 2px solid #9684c7;
  color: #9684c7;
  border-radius: 60px;
}

/* line 27, ../_sass/components/_buttons.scss */
.home-button2:hover {
  cursor: pointer;
  border: 2px solid #564781;
  background-color: #564781;
  border-radius: 60px;
}

/* line 33, ../_sass/components/_buttons.scss */
#button1, #button2 {
  width: 90%;
  cursor: pointer;
  margin-top: 20px;
}
@media (min-width: 600px) {
  /* line 33, ../_sass/components/_buttons.scss */
  #button1, #button2 {
    width: 30%;
    float: left;
  }
}

/* line 42, ../_sass/components/_buttons.scss */
#button3 {
  cursor: pointer;
  width: 44.4%;
  margin: auto;
}

/* line 49, ../_sass/components/_buttons.scss */
.login-button {
  width: 100%;
  background-color: #564781;
  margin: auto;
  padding: 8px;
  border: 2px solid #564781;
  border-radius: 60px;
  transition: all 100ms ease-in-out 0s;
}

/* line 58, ../_sass/components/_buttons.scss */
.login-button:hover {
  background-color: #9684c7;
  border: 2px solid #9684c7;
  border-radius: 60px;
  cursor: pointer;
  transition: all 100ms ease-in-out 0s;
}

/* line 65, ../_sass/components/_buttons.scss */
#contact-button {
  text-align: center;
  padding: 12px;
  border-radius: 60px;
  background-color: #7323DB;
  border: 2px solid #7323DB;
  color: #fff;
  transition: all 100ms ease-in-out 0s;
}

/* line 74, ../_sass/components/_buttons.scss */
#contact-button:hover {
  border: 2px solid #564781;
  cursor: pointer;
  border: 2px solid #564781;
  background-color: #564781;
  border-radius: 60px;
}

/* line 1, ../_sass/pages/_home.scss */
#mobile-height {
  padding-top: 100px;
  overflow: hidden;
}

/* line 6, ../_sass/pages/_home.scss */
.home-overlay {
  z-index: -1;
  overflow: auto;
  width: 100%;
  height: 100vh;
  position: fixed;
}

/* line 17, ../_sass/pages/_home.scss */
.home-stroke {
  width: 100%;
  margin-top: 115px;
  margin-bottom: 65px;
  border-bottom: 2px solid #977dd1;
  clear: both;
}

/* line 24, ../_sass/pages/_home.scss */
.home-mockup {
  width: 50%;
  height: 100%;
}

/* line 29, ../_sass/pages/_home.scss */
.home-info {
  width: 100%;
  margin-top: 20px;
  margin-top: 20px;
  text-align: center;
  max-width: 770px;
}
@media (min-width: 992px) {
  /* line 29, ../_sass/pages/_home.scss */
  .home-info {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 100;
  }
}

/* line 42, ../_sass/pages/_home.scss */
.home-line {
  width: 50px;
  height: 4px;
  background-color: #8f6ecb;
  margin: auto;
  margin-top: 18px;
  margin-bottom: 18px;
}

/* line 51, ../_sass/pages/_home.scss */
.mockup-box {
  display: none;
  position: absolute;
  z-index: 1;
  top: 20%;
  right: 8%;
  width: 40%;
  height: 40%;
}
@media (min-width: 992px) {
  /* line 51, ../_sass/pages/_home.scss */
  .mockup-box {
    display: block;
  }
}

/* line 64, ../_sass/pages/_home.scss */
.mockup2 {
  width: 100%;
}

/* line 71, ../_sass/pages/_home.scss */
.test {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translateX(300%);
  transition: all 1000ms ease-in-out 0s;
}

/* line 83, ../_sass/pages/_home.scss */
.weffect--show {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: translateX(0%);
  transition: all 1000ms ease-in-out 0s;
}

/* line 1, ../_sass/pages/_app.scss */
#map-height {
  overflow: hidden;
}

/* line 2, ../_sass/pages/_contact.scss */
#contact-form input {
  border: 0.7px solid #dedede;
  padding: 5px;
  font-weight: 200;
  font-size: 17px;
  color: #dedede;
  margin-top: 10px;
}
/* line 10, ../_sass/pages/_contact.scss */
#contact-form input:focus {
  border: 0.7px solid #7323DB;
  color: #7323DB;
}

/* line 1, ../_sass/pages/_404.scss */
.error-button {
  width: 100%;
  margin: auto;
  padding: 8px;
  border: 2px solid #fff;
  border-radius: 60px;
  transition: all 100ms ease-in-out 0s;
}

/* line 1, ../_sass/pages/_profile.scss */
.profile-circle {
  width: 90%;
  position: relative;
  margin: auto;
  min-height: 200px;
}
/* line 6, ../_sass/pages/_profile.scss */
.profile-circle img {
  width: 100%;
}
/* line 9, ../_sass/pages/_profile.scss */
.profile-circle .profile-pinpoint {
  position: absolute;
  background-color: red;
  width: 60px;
  height: 70px;
  right: 10%;
  bottom: 0;
}
@media (min-width: 600px) {
  /* line 1, ../_sass/pages/_profile.scss */
  .profile-circle {
    width: 60%;
    float: left;
  }
}
@media (min-width: 992px) {
  /* line 1, ../_sass/pages/_profile.scss */
  .profile-circle {
    width: 50%;
    max-width: 250px;
    float: left;
  }
}

/* line 30, ../_sass/pages/_profile.scss */
.profile-list ul, .profile-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 35, ../_sass/pages/_profile.scss */
.profile-list li {
  border-bottom: 1px solid #dedede;
}

/* line 1, ../_sass/themes/_theme.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 6, ../_sass/themes/_theme.scss */
html {
  overflow-x: hidden;
  max-width: 100%;
}

/* line 10, ../_sass/themes/_theme.scss */
body {
  font-size: 14px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #7323DB;
  width: 100%;
}

/* line 20, ../_sass/themes/_theme.scss */
.container {
  width: 100%;
  overflow: auto;
  max-width: 1400px;
  margin: auto;
}

/* line 28, ../_sass/themes/_theme.scss */
.hidden {
  display: none;
}

/* MAP */
/* line 34, ../_sass/themes/_theme.scss */
#map {
  width: 100%;
  height: 100vh;
}

/* line 38, ../_sass/themes/_theme.scss */
svg {
  fill: #fff;
}
