#mobile-height {
    padding-top: 100px;
    overflow: hidden;
}

.home-overlay {
    z-index: -1;
    
    
    overflow: auto;
    width: 100%;
    height: 100vh;
    position: fixed;
}


.home-stroke {
    width: 100%;
    margin-top: 115px;
    margin-bottom: 65px;
    border-bottom: 2px solid #977dd1;
    clear: both;
}
.home-mockup {
    width: 50%;
    height: 100%;
}

.home-info {
    width: 100%;
    margin-top: 20px;
    margin-top: 20px;
    text-align: center;
    max-width: 770px;
    @media #{$medium} {
        font-size: 16px;
        line-height: 1.5em;
        font-weight: 100;
    }
    
}
.home-line {
    width: 50px;
    height: 4px;
    background-color: #8f6ecb;
    margin: auto;
    margin-top: 18px;
    margin-bottom: 18px;
}

.mockup-box {
    display: none;
    position: absolute;
    z-index: 1;
    top: 20%;
    right: 8%;
    width: 40%;
    height: 40%;
    @media #{$medium} {
        display: block;
    }
}

.mockup2 {
    width: 100%;
}




.test {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 10vh;
    
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translateX(300%);
    transition: all 1000ms ease-in-out 0s;
}
.weffect--show {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: translateX(0%);
    transition: all 1000ms ease-in-out 0s;
}
