.profile-circle {
    width: 50%;
    position: relative;
    min-height: 200px;
    img {
        width: 100%;
    }
    .profile-pinpoint {
        position: absolute;
        background-color: red;
        width: 60px;
        height: 70px;
        right: 10%;
        bottom: 0;
        
    }
}

.profile-list {
    ul,li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        border-bottom: 1px solid #dedede;
    }
}