.home-part2 {
    @media #{$medium}{
        display: none;
    }
}
.mockup-box {
    @media #{$medium}{
        display: block;
    }
}
header {
    @media #{$medium}{
         height: 80px;
    }
}
.home-stroke {
    @media #{$medium}{
         display: none;
    }
}
footer {
    @media #{$medium}{
         min-height: 32vh;
    }
}
.container {
    @media #{$medium}{
        min-height: 60vh;
    }
}
#nav-icon3, .header-logo {
    @media #{$medium}{
        display: none;
    }
}
