/* ==========================================================================
   Home styles
   ========================================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;!important
}
html {
    overflow-x: hidden;
    max-width: 100%;
}
body {
    font-size: 14px;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    background: linear-gradient(60deg, rgb(115, 35, 219)  0%, #7323DB 100%);
    width: 100%;
    
}
header {
    width: 100%;
    overflow: auto;
}
.container {
    width: 100%;
    overflow: auto;
    max-width: 1400px;
    margin: auto;
    
    
}
footer {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 56px;
    
}
#footer-img {
    min-width: 1920px;
    height: 320px;
    display: none;
}
#footer-img2 {
    min-width: 500px;
    height: 60px;
}
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#ebeff0;
	z-index:99999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

/* header */

header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-top {
    width: 100%;
    height: 20px;
}
#nav-icon3 {
    z-index: 9999999;
}
.header-logo {
    width: 40px;
    height: 40px;
    float: right;
    margin-right: 20px;
    transition: all 100ms ease-in-out 0s;
}

.header-homenav {
    position: fixed;
    background-color: rgba(239, 239, 239, 0.96);
    width: 100%;
    height: 100vh;
    z-index: 999999;
    display: none;
    
}
.header-homenav ul {
    width: 100%;
    padding: 20px;
    margin-top: 60px;
}

#logo-desktop {
    width: 60px;
    height: 60px;
    margin-left: 15px;
    display: none;
}

/* Login */

.mobile-login {
    padding: 20px;
    width: 100%;
    
    
    display: none;
}
.login-logo {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#login-logo {
    width: 45%;
    margin-top: 40px;
}

.login-inputs {
    width: 90%;
    margin: auto;
    padding-top: 40px;
    
}
.login-inputs input {
    float: left;
    width: 80%;
    display: block;
    margin: auto;
    
    background: none;
    border: none;
   
}
#user, #pass {
    width: 20%;
    float: left;
    height: 39px;
    display: flex;
}
#user-logo, #pass-logo {
    height: 20px;
    align-self: flex-end;
    
}

.login-inputs__full {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding-bottom: 10px;
    transition: all 100ms ease-in-out 0s;
}
#input2 {
    padding-top: 20px;
}
.login-border1, .login-border2 {
    transition: all 500ms ease-in-out 0s;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    margin: auto;
    padding-top: 10px;
    width: 1px;
    clear: both;
}
.login-border__extra {
    transition: all 500ms ease-in-out 0s;
    border-bottom: 1px solid #ffffff;
    
    width: 100%;!important
    
    clear: both;
}

.login-stroke {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 5px;
    border-bottom: 2px solid #977dd1;
    clear: both;
}
.label1, .label2 {
    transition: all 500ms ease-in-out 0s;
    visibility: hidden;
}
.label-display {
    transition: all 500ms ease-in-out 0s;
    visibility: visible;
}
.login-buttonwrapper {
    width: 100%;
    margin-top: 40px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#button3 {
    cursor: pointer;
    width: 44.4%;
    margin: auto;
    
    
}
.login-button {
    width: 100%;
    background-color: #564781;
    margin: auto;
    padding: 8px;
    border: 2px solid #564781;
    border-radius: 60px;
    transition: all 100ms ease-in-out 0s;
}
.login-button:hover {
    background-color: #9684c7;
    border: 2px solid #9684c7;
    border-radius: 60px;
    transition: all 100ms ease-in-out 0s;
}

.login-register {
    margin-top: 40px;
}



/* home */

#mobile-height {
    padding-top: 100px;
    overflow: hidden;
}

.home-overlay {
    z-index: -1;
    background: linear-gradient(60deg, #7323DB  0%, #7323DB 100%);
    
    overflow: auto;
    width: 100%;
    height: 100vh;
    position: fixed;
}
.home-buttons {
    overflow: auto;
}

.home-button1 {
    width: 100%;
    margin: auto;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 60px;
    transition: all 100ms ease-in-out 0s;
}
.home-button2 {
    width: 100%;
    background-color: #fff;
    margin: auto;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 60px;
    transition: all 100ms ease-in-out 0s;
}
.home-button1:hover {
    border: 2px solid #564781;
    color: #564781;
    border-radius: 60px;
}
.home-button2:hover {
    cursor: pointer;
    border: 2px solid #564781;
    background-color: #564781;
    border-radius: 60px;
}
#button1, #button2 {
    cursor: pointer;
    margin-top: 20px;
}

.home-stroke {
    width: 100%;
    margin-top: 115px;
    margin-bottom: 65px;
    border-bottom: 2px solid #977dd1;
    clear: both;
}
.home-mockup {
    width: 50%;
    height: 100%;
}

.home-info {
    width: 100%;
    margin-top: 20px;
    margin-top: 20px;
    text-align: center;
    max-width: 770px;
}
.home-line {
    width: 50px;
    height: 4px;
    background-color: #8f6ecb;
    margin: auto;
    margin-top: 18px;
    margin-bottom: 18px;
}

.mockup-box {
    display: none;
    position: absolute;
    z-index: 1;
    top: 20%;
    right: 8%;
    width: 40%;
    height: 40%;
}
.mockup2 {
    width: 100%;
}




.test {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 10vh;
    
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translateX(300%);
    transition: all 1000ms ease-in-out 0s;
}
.weffect--show {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: translateX(0%);
    transition: all 1000ms ease-in-out 0s;
}




/* MAP */

#map {
    width: 100%;
    height: 100vh;
}