<head>  
    <!-- Character Encoding -->
    <meta charset="utf-8"> 
    <!-- Latest version of certain rendering browser engines -->
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <!-- Title -->
    <title>NEUZEN | APP</title>
    <!-- Other SEO Tags -->
    <meta name="description" content="NEUZEN">
    <meta name="keywords" content="HTML5, CSS3, JavaScript, jQuery, Responsive, Grid">
    <meta name="author" content="Ian Vleeshouwers">
    <meta name="copyright" content="NEUZEN">
    <!-- Sitemap.xml -->
    <link rel="sitemap" type="application/xml" title="Sitemap" href="./sitemap.xml">
    <!-- Humans.txt -->
    <link rel="author" type="text/plain" href="./humans.txt">
    <!-- Mobile Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="css/images/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="css/images/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="css/images/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="css/images/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="css/images/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="css/images/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="css/images/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="css/images/favicons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="css/images/favicons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="css/images/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="css/images/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="css/images/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="css/images/favicons/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#f0f0f0" />
    <meta name="msapplication-TileImage" content="css/images/favicons/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="css/images/favicons/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="css/images/favicons/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="css/images/favicons/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="css/images/favicons/mstile-310x310.png" />
    <link rel="manifest" href="css/images/favicons/manifest.json">
    <link rel="shortcut icon" href="css/images/favicons/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#f0f0f0">   
    <meta name="apple-mobile-web-app-title" content="NEUZEN">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="gdm.gent">
    <meta name="msapplication-TileColor" content="#2888d4">
    <meta name="msapplication-TileImage" content="css/images/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="css/images/favicons/browserconfig.xml">
    <meta name="msapplication-tooltip" content="NEUZEN APP">
    <meta name="msapplication-navbutton-color" content="#5f40c0">
    <meta name="theme-color" content="#5f40c0">
    <!-- Social Media -->
    <meta property="og:title" content="NEUZEN">
    <meta property="og:description" content="Een app door en voor studenten">
    <meta property="og:type" content="website">
    
    <!-- DNS Prefetching -->
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <!-- Style Sheets -->
    <link rel="stylesheet" href="css/main.css">
    
</head>