.home-buttons {
    overflow: auto;
}

.home-button1 {
    width: 100%;
    margin: auto;
    padding: 12px;
    border: 2px solid #fff;
    border-radius: 60px;
    transition: all 100ms ease-in-out 0s;
}
.home-button2 {
    width: 100%;
    background-color: #fff;
    margin: auto;
    padding: 12px;
    border: 2px solid #fff;
    border-radius: 60px;
    transition: all 100ms ease-in-out 0s;
}
.home-button1:hover {
    border: 2px solid #9684c7;
    color: #9684c7;
    border-radius: 60px;
}
.home-button2:hover {
    cursor: pointer;
    border: 2px solid #564781;
    background-color: #564781;
    border-radius: 60px;
}
#button1, #button2 {
    width: 90%;
    cursor: pointer;
    margin-top: 20px;
    @media #{$small}{
        width: 30%;
        float: left;
    } 
}
#button3 {
    cursor: pointer;
    width: 44.4%;
    margin: auto;
    
    
}
.login-button {
    width: 100%;
    background-color: #564781;
    margin: auto;
    padding: 8px;
    border: 2px solid #564781;
    border-radius: 60px;
    transition: all 100ms ease-in-out 0s;
}
.login-button:hover {
    background-color: #9684c7;
    border: 2px solid #9684c7;
    border-radius: 60px;
    cursor: pointer;
    transition: all 100ms ease-in-out 0s;
}
#contact-button {
    background-color: #7323DB;
    border: 2px solid #7323DB;
    color: #fff;
    transition: all 100ms ease-in-out 0s;
}
#contact-button:hover {
    border: 2px solid #564781;
}
