* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    max-width: 100%;
}
body {
    font-size: 14px;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #7323DB;
    width: 100%;
    
}
.container {
    width: 100%;
    overflow: auto;
    max-width: 1400px;
    margin: auto;
}


.hidden {
    display: none;
}

/* MAP */

#map {
    width: 100%;
    height: 100vh;
}
svg {
    fill: #fff;
}